<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>draggable-example</title>
    <script
      src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"
      async=""
    ></script>
    <script>
      window.OneSignal = window.OneSignal || []
      OneSignal.push(function () {
        OneSignal.init({
          appId: '02528dc2-90ec-49bf-8b3a-3e87667f5312',
          notifyButton: {
            enable: true
          }
        })
      })
    </script>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but draggable-example doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
