<template>
  <div class="d-flex flex-column container-fluid pt-3 h-100">
    <div class="row">
      <div class="col mb-3">
        <button class="btn btn-primary btn-sm" @click.stop.prevent="addModule">
          <i class="glyphicon glyphicon-plus"></i>Add Module
        </button>
      </div>
    </div>
    <div
      class="d-flex flex-grow-1"
      style="overflow-x: auto; overflow-y:hidden;"
    >
      <div
        v-for="(card, index) in cards"
        :key="index"
        class="module-wrapper d-flex flex-column flex-shrink-0"
      >
        <div class="row">
          <div class="col-12 d-flex justify-content-between align-items-center">
            <input
              :id="`module-${index}`"
              v-model="card.title"
              type="text"
              class="form-control border-0 module-title px-0 bg-transparent"
              @keydown.enter="e => saveModule(e)"
            />
            <a
              v-if="cards.length > 1"
              href="#"
              class="p-2"
              @click.stop.prevent="
                e => {
                  cards.splice(index, 1)
                  saveLastTask()
                }
              "
            >
              <i class="fa fa-trash" />
            </a>

            <i class="fa fa-ellipsis-h" />
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex py-2">
            <button
              class="btn btn-light btn-sm btn-block mb-2"
              @click.stop.prevent="e => addTask(e, index)"
            >
              <i class="fa fa-plus" />
            </button>
          </div>
        </div>
        <div class="module flex-grow-1 d-flex flex-column">
          <draggable
            class="list-group flex-grow-1 d-flex flex-column"
            tag="ul"
            v-model="card.tasks"
            v-bind="dragOptions"
            :move="onMove"
            @start="isDragging = true"
            @end="isDragging = false"
          >
            <transition-group type="transition" name="flip-list">
              <template v-if="card.tasks.length > 0">
                <li
                  class="list-group-item"
                  v-for="(task, i) in card.tasks"
                  :key="i"
                  @click="e => editTask(e, task, `module-${index}-task-${i}`)"
                >
                  <textarea
                    :id="`module-${index}-task-${i}`"
                    v-if="task.editing"
                    v-model="task.name"
                    @keydown.enter="e => saveTask(e, task)"
                    @blur="saveLastTask"
                    type="text"
                    class="form-control border-0 task-title px-0 bg-transparent"
                  />
                  <div v-else class="d-flex flex-column">
                    <div class="d-flex justify-content-between">
                      <span v-html="task.name" class="task-title flex-grow-1" />
                      <span class="py-2">
                        <i class="fa fa-ellipsis-h" />
                      </span>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="d-flex justify-content-start task-due-date">
                        <span class="py-2 mr-2">
                          <i class="fa fa-calendar" />
                        </span>
                        <span v-html="task.due" />
                      </div>
                      <div class="d-flex justify-content-end task-members">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </li>
              </template>

              <li
                v-else
                class="placeholder list-group-item flex-grow-1"
                key="-1"
              >
                <span style="opacity: 0">
                  Drop here
                </span>
              </li>
            </transition-group>
          </draggable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'hello',
  components: {
    draggable
  },
  data () {
    return {
      cards: [
        {
          title: 'Todo',
          tasks: [{ name: 'Task 0', due: 'Due Aug 8' }]
        }
      ],
      lastEdited: { e: null, task: null },
      editable: true,
      isDragging: false,
      delayedDragging: false
    }
  },
  methods: {
    addModule () {
      this.saveLastTask()
      this.cards.push({
        title: 'Title',
        tasks: []
      })
      this.$nextTick(() => {
        const id = `module-${this.cards.length - 1}`
        const input = document.getElementById(id)
        if (document.activeElement.id != id) {
          input.focus()
          input.select()
        }
      })
    },
    saveModule (e) {
      e.target.blur()
      this.$forceUpdate()
    },
    addTask (e, id) {
      this.cards[id].tasks.unshift({
        name: `Task ${this.cards[id].tasks.length + 1}`,
        due: 'Due Aug 8'
      })
      this.editTask(e, this.cards[id].tasks[0], `module-${id}-task-0`)
    },
    editTask (e, task, id) {
      this.saveLastTask()
      task.editing = true
      this.lastEdited.e = e
      this.lastEdited.task = task
      this.$forceUpdate()

      this.$nextTick(() => {
        const input = document.getElementById(id)
        if (document.activeElement.id != id) {
          input.focus()
          input.select()
        }
      })
    },
    saveTask (e, task) {
      e.target.blur()
      task.editing = false
      this.$forceUpdate()
    },
    saveLastTask () {
      if (this.lastEdited.e && this.lastEdited.task) {
        this.saveTask(this.lastEdited.e, this.lastEdited.task)
      }
    },
    onMove ({ relatedContext, draggedContext }) {
      const relatedElement = relatedContext.element
      const draggedElement = draggedContext.element
      return (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
    }
  },
  computed: {
    dragOptions () {
      return {
        animation: 0,
        group: 'description',
        disabled: !this.editable,
        ghostClass: 'ghost'
      }
    },
    listString () {
      return JSON.stringify(this.list, null, 2)
    },
    list2String () {
      return JSON.stringify(this.list2, null, 2)
    }
  },
  watch: {
    isDragging (newValue) {
      if (newValue) {
        this.delayedDragging = true
        return
      }
      this.$nextTick(() => {
        this.delayedDragging = false
      })
    }
  }
}
</script>

<style>
.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
  transform: rotate(1deg);
}

.list-group {
  min-height: 20px;
}

.list-group > span {
  flex-grow: 1;
}

.list-group-item {
  cursor: move;
  border-radius: 5px;
  margin-bottom: 8px;
}

.module ul > span {
  display: flex;
  flex-direction: column;
  padding: 4px 0 8px;
}

.list-group-item.placeholder {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  margin-top: -10px;
  border-radius: 0;
  opacity: 0.6;
}

.list-group-item i {
  cursor: pointer;
}

.module-wrapper {
  width: 256px;
  margin-right: 1rem;
}

.module {
  overflow-y: auto;
}

.form-control.module-title,
.form-control.module-title:focus {
  font-weight: 500;
  outline: unset !important;
  border: none !important;
  box-shadow: none !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px !important;
  line-height: 19px;
  text-transform: capitalize;
  color: #03293d;
}

.task-title,
.form-control.task-title,
.form-control.task-title:focus {
  outline: unset !important;
  border: none !important;
  box-shadow: none !important;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 145.1%;
  display: flex;
  align-items: center;
  color: #03293d;
}

.task-due-date {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #03293d;
  opacity: 0.5;
}

.task-members > div {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #e8e7ea;
}

textarea.form-control {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
}
</style>
